{{>header}}
<div class="container text-center">
    <h3>See below a list of transactions</h3>
    <ul class="list-group">
        {{#each data.rbTx}}
        {{!-- <li class="list-group-item"><a href="{{data.url}}/tx/{{this}}">{{this}}</a></li> --}}
        <li class="list-group-item"><a href="https://ropsten.etherscan.io/tx/{{this}}">{{this}}</a></li>
        {{/each}}
    </ul>
</div>
{{>footer}}